body {
    padding-top: 4rem;
}

.starter-template {
    padding-left: 10rem;
    padding-right: 10rem;
}

.optionArea {
    margin-left: 0;
}

.contentArea {
    display: flex;
    border: 1px solid blanchedalmond;
    height: 800px;
}

.contentArea .UnifiedProcessListArea {
    /* height: 100%; */
    padding-left: 0;
}

.contentArea .UnifiedProcessListArea .processGridArea {
    height: 100%;
}

.contentArea .UnifiedProcessListArea .processGridArea .unifiedListGrid {
    height: 100%;
}

.contentArea .toDoListArea {
    padding-left: 0;
}

.contentArea .toDoListArea .toDoListGridArea {
    height: 60%;
}

.contentArea .toDoListArea .toDoListGridArea .toDoListGrid {
    height: 100%;
}

.contentArea .toDoListArea .toDoAskArea {
    height: 40%;
}

.contentArea .toDoListArea .toDoAskArea .toDoAskCtn {
    height: 100%;
    border: 1px solid gray;
}


/* QHD */
@media (min-width: 1921px) {
	.contentArea {
	    display: flex;
	    height: 1100px;
	}
	

}