body {
    padding-top: 4rem;
}

.starter-template {
    /* padding-left: 10rem; */
    /* padding-right: 10rem; */
}

.optionArea {
    margin-left: 0;
}

.contentArea {
    display: flex;
    /* border: 1px solid blanchedalmond; */
    height: 770px;
}

.contentArea .UnifiedProcessListArea {
    /* height: 100%; */
    padding-left: 0;
}

.contentArea .UnifiedProcessListArea .processGridArea {
    height: 100%;
}

.contentArea .UnifiedProcessListArea .processGridArea .unifiedListGrid {
    height: 100%;
}

.contentArea .toDoListArea {
    padding-left: 0;
}

.contentArea .toDoListArea .toDoListGridArea {
    height: 100%;
}

.contentArea .toDoListArea .toDoListGridArea .toDoListGrid {
    height: 100%;
}

.contentArea .toDoAskArea {
    padding: 0;
    height: 100%;
}

.contentArea .toDoAskArea .card {
    padding: 0;
    height: 100%;
}

.contentArea .toDoAskArea .card-header {
    font-weight: bold;
}

.contentArea .toDoAskArea .card-body {
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.contentArea .toDoAskArea .toDoAskCtn {
    height: 40%;
    padding-bottom: 1px;
}

.contentArea .toDoAskArea .answerGrid {
    height: 15%;
    padding-bottom: 1px;
}

.contentArea .toDoAskArea .toDoAnswerList {
    height: 45%;
    padding-top: 1px;
}


/* QHD */
@media (min-width: 1921px) {
	.contentArea {
	    display: flex;
	    height: 1100px;
	}
	

}