body {
    padding-top: 4rem;
}

.starter-template {
    padding-left: 2rem;
    padding-right: 2rem;
}

.optionArea {
    margin-left: 0;
}

.contentArea {
    display: flex;
    border: 1px solid orange;
    height: 800px;
}

.contentArea .UnifiedProcessListArea {
    /* height: 100%; */
    padding-left: 0;
}

.contentArea .UnifiedProcessListArea .processGridArea {
    height: 100%;
}

.contentArea .UnifiedProcessListArea .processGridArea .unifiedListGrid {
    height: 100%;
}

.contentArea .toDoListArea {
    
}